menuconfig COREBOOT_TABLES
	bool "Coreboot tables"
	default n
	help
	  These drivers are used to export coreboot tables to sysfs

if COREBOOT_TABLES

config COREBOOT_SYSFS
	tristate "Coreboot sysfs driver"
	default n
	help
	  This driver creates coreboot node in /sys/firmware

config COREBOOT_TIMESTAMPS
	tristate "Coreboot timestamps table"
	default n
	depends on GOOGLE_COREBOOT_TABLE
	help
	  This driver exportes coreboot timestamps table
	  to /sys/firmware/coreboot/timestamps

endif # COREBOOT_TABLES
